<div class="col-sm-6">

  <%= form_for(bookmark, html: {class: 'form-horizontal'}) do |f| %>

  <% if bookmark.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

        <ul>
          <% bookmark.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>


  <div class="form-group">
    <div class="col-sm-2">
      <%= f.label :title, class: 'control-label' %>
    </div>
    <div class="col-sm-4"> <%= f.text_field :title, class: 'form-control' %> </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <%= f.label :url, class: 'control-label' %>
    </div>
    <div class="col-sm-4"> <%= f.text_field :url, class: 'form-control' %> </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <%= f.label :short_url, class: 'control-label' %>
    </div>
    <div class="col-sm-4"> <%= f.text_field :short_url, class: 'form-control' %> </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <%= f.label :all_tags, class: 'control-label' %>
    </div>
    <div class="col-sm-4"> <%= f.text_field :all_tags, class: 'form-control', placeholder: 'Tags separated with comma' %> </div>
  </div>


  <div class="col-sm-offset-2">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <% end %>

</div>
