<p id="notice"><%= notice %></p>


<ul class="breadcrumb">
  <li>
    <%= link_to "Bookmarks", bookmarks_path %>
  </li>
  <li> <%= @bookmark.title  %></li>

  <%= link_to 'Edit', edit_bookmark_path(@bookmark), class: "pull-right" %>
</ul>

<h3>Bookmark detail</h3>

<div class="col-sm-6">
  <form class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>

      <div class="col-sm-10">
        <div class="form-control-static">
          <%= @bookmark.title %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Url</label>

      <div class="col-sm-10">
        <div class="form-control-static">
          <%= @bookmark.url %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Short url</label>

      <div class="col-sm-10">
        <div class="form-control-static">
          <%= @bookmark.short_url %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Tags</label>

      <div class="col-sm-10">
        <div class="form-control-static">
          <%= @bookmark.all_tags %>
        </div>
      </div>
    </div>

  </form>
</div>